/core/components/formit/
/core/components/minishop3/
/core/components/pdotools/
/core/src/
/core/vendor/
/.claude/
/assets/components/formit/
/assets/components/pdotools/
/core/components/sendit/composer.phar
/core/components/sendit/vendor/
node_modules/
/core/elements/
/old/
/core/components/scheduler/
/sendit/
/package_builder/*
!/package_builder/.gitignore
!/package_builder/packages/
/package_builder/packages/*
!/package_builder/packages/sendit/
/core/packages/
.idea/
/rules/
